div{
    background-color: rgb(138, 87, 25);
    width: 500px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
}
h1{
    font-size: 26px;
    text-align: center;
}
span{
    color: rgb(22, 4, 4);
}